<footer class="site-footer">
    <div class="foot"> 
        <center>
                      <a href='https://github.com/{{site.github_account}}'>
            <img src='/assets/githupsquar.png' alt='github'>
          </a>

          <a href='https://www.linkedin.com/in/{{site.linkedin_account}}'>
            <img src='/assets/linkedinSquar.png' alt='linkedin'>
          </a>

          <a href='mailto:{{site.email}}'>
            <img src='/assets/emailSquar.png' alt='email'>
          </a>

          <a href='https://twitter.com/{{site.twitter_account}}'>
            <img src='/assets/twitterSquar.png' alt='twitter'>
          </a>

          <a href='https://stackoverflow.com/users/{{site.stcke_overflow_id}}'>
            <img src='/assets/stackSquar.png' alt='stcke_overflow+'>
            </a>

        
        </center>

    </div>
        
                <center>
                    
                    <p>© ahmed ashraf 2015</p>
    </center>
                    

                    
              
</footer>
